@import 'reset';

html {
	height: 100%;
}

body {
	height: 100%;
	background: rgb(103,163,174);
	background: -moz-linear-gradient(-45deg, rgba(103,163,174,1) 0%, rgba(143,103,174,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(103,163,174,1) 0%,rgba(143,103,174,1) 100%);
	background: linear-gradient(135deg, rgba(103,163,174,1) 0%,rgba(143,103,174,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67a3ae', endColorstr='#8f67ae',GradientType=1 );
	font-family: 'Oswald', sans-serif;
	overflow: hidden;
}

button {
	border: none;
	font-family: 'Oswald', sans-serif;
}

input[type="submit"] {
	border: none;
	font-family: 'Oswald', sans-serif;
}