#logo {
  position: absolute;
  top: 55px;
  left: 55px;
  z-index: 1; }

#questions {
  position: absolute;
  top: 50%;
  left: 135px;
  transform: translateY(-50%);
  height: 500px;
  width: 55%; }

#questions .question {
  padding: 50px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); }

#questions .question .label-file {
  height: 60px;
  padding: 0 30px;
  background-color: #fff;
  border-radius: 30px;
  color: #6b9cae;
  font-size: 38px;
  font-weight: 500;
  line-height: 48px;
  cursor: pointer; }

#questions .question .label-file:hover {
  color: #8772ae; }

#questions .question .input-file {
  display: none; }

#questions .question #file-name {
  padding-left: 25px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 38px;
  font-weight: 500;
  line-height: 48px;
  cursor: pointer; }

/* File loader */
@-moz-keyframes file-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes file-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes file-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

#file-loader {
  -moz-animation: file-loader 1250ms infinite linear;
  -webkit-animation: file-loader 1250ms infinite linear;
  animation: file-loader 1250ms infinite linear;
  border: 8px solid #fff;
  border-right-color: transparent;
  border-radius: 16px;
  box-sizing: border-box;
  display: none;
  position: relative;
  margin-left: 15px;
  overflow: hidden;
  text-indent: -9999px;
  width: 32px;
  height: 32px; }

#files-list .file {
  padding: 10px 0 15px 100px;
  background: url("../images/document-image.svg") no-repeat left center;
  background-size: auto 75%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  font-size: 38px;
  font-weight: 500;
  line-height: 42px; }

#files-list .file .file-name {
  color: rgba(0, 0, 0, 0.4);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px; }

#human-body-man,
#human-body-woman {
  position: absolute;
  top: 50%;
  right: 55px;
  transform: translateY(-50%);
  height: 700px; }

#human-body-man path,
#human-body-woman path {
  fill: rgba(0, 0, 0, 0.3); }

#next-button {
  position: absolute;
  bottom: 55px;
  right: 55px;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  border-radius: 35px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  color: #8d6aae;
  font-size: 30px;
  font-weight: 600;
  line-height: 70px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 5; }

