@using WebApp.ViewModels
@model WebApp.ViewModels.ConfirmationViewModel
@{
	ViewData["Title"] = "Confirmation";
}

<h2>Confirmation</h2>


<p> Positive : @Model.PositvePercentage %</p>
<p> Negative : @Model.NegativePercentage %</p>
