@model List<Patient>
@{
	ViewData["Title"] = "Home Page";
}


<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-md-6">
			<p>
				@item.Name
			</p>
			<img src="@item.Photo" />
		</div>
	}
</div>
