@model List<Patient>

@{ ViewData["Title"] = "Index"; }

@section CSSHead {
	<environment include="Development">
		<link rel="stylesheet" href="~/css/home.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/css/home.min.css" asp-append-version="true" />
	</environment>
}

@section ScriptsHead {

}

@section Scripts {
	<script src="~/js/home.js" asp-append-version="true"></script>
}

<img id="logo" src="~/images/logo.png" height="122" width="404" />

<div id="diagnosis-list">
	@{
		int i = 0;
		foreach (var item in Model)
		{
			<div class="diagnosis">

				<div class="picture-container">
					<img src="~/images/avatar.png" />
				</div>
				<div class="id">
					Patient n°@i
				</div>
				<a href="@Url.Action("Scanner")">
					Resume diagnosis
				</a>
			</div>
			i++;
		}
	}
</div>

<input type="button" value="+"/>